*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body {
    background-color: #212529;
}

.navbar{
    background-color: #212529 !important;
    width: 100%;
}

.logo{
width: 90%;
}

.avatar{
    width: 30%;
}

.dropdown-menu{
    width: 100%;
   
}
.nav-itemdropdown{
    width: 100px;
    height:100%;
}

.row-show{
    padding:10px;
    display:flex;  
}

