* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color:#212529;
}

nav {
    position: relative;
}

.navbar-toggler {
    position: absolute;
    right:0;
}

.logo {
    width: 100%;
}

.avatar {
    width: 30%;
}

.dropdown-menu {
    width: 100%;

}

.nav-itemdropdown {
    width: 100px;
    height: 100%;
}


.containerfilm {
    margin-top: 5%;
}

.h4 {
    margin-left: 30px;
}